.contenedorItem {
    text-align: center;
    border: 1px dotted black;
    margin: 4rem;
    padding: 2rem;
    background-color: rgb(105, 130, 242);
    color: black;
}

.contenedorItem img {
    width: 35vw;
}